# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/
server/config.php
server/config.js

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
server/config.php
server/config.js

# Node.js
node_modules/
